In [1]:
import pandas as pd
import seaborn as sns

IMPORT DATA, REMOVE NANS, DUPLICATE SMILES

In [2]:
df = pd.read_csv('jak3.csv')
df

,Molecule ChEMBL ID,Smiles,pChEMBL Value
0,CHEMBL385937,Cc1ccc(C(=O)Nc2cccc(C(F)(F)F)c2)cc1-c1ccc2nc(N...,7.70
1,CHEMBL542522,COc1ccc2cc(C(=O)CCN3CCOCC3)ccc2c1.Cl,NaN
2,CHEMBL1080111,O=c1[nH]c2cnc(-n3cnc4ccccc43)nc2n1C1CCOc2c(F)c...,7.52
3,CHEMBL1081376,O=c1[nH]c2cnc(-n3cnc4ccccc43)nc2n1C1CCOc2c(Cl)...,6.77
4,CHEMBL3642278,COc1ccc(Nc2nc3c(-c4cn[nH]c4)cccn3n2)cc1,6.29
...,...,...,...
4684,CHEMBL3707348,CC#CC(=O)N1CCC[C@H]1c1nc(-c2ccc(C(=O)Nc3ccccn3...,NaN
4685,CHEMBL5194482,C=CC(=O)Nc1cccc(Cn2c(=O)ccc3cnc(Nc4ccc(N5CCN(C...,8.70
4686,CHEMBL5088804,COc1cc(-c2ccc(O)cc2)cc2cnc(N)nc12,7.40
4687,CHEMBL5171066,Cc1ccc(C2CCN(c3ccc(Nc4nccc(-c5ccc(C(=O)NCC#N)c...,NaN
4688,CHEMBL5186701,C=CC(=O)Nc1cccc(Cn2c(=O)ccc3cnc(Nc4ccc(N(C)CCN...,8.51

In [4]:
df = df.dropna()    # remove rows with missing values
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3638 entries, 0 to 4688
Data columns (total 3 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Molecule ChEMBL ID  3638 non-null   object
 1   Smiles              3638 non-null   object
 2   pChEMBL Value       3638 non-null   float64
dtypes: float64(1), object(2)
memory usage: 113.7+ KB

In [6]:
df = df.drop_duplicates('Smiles', keep='first')    # remove duplicate rows
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3274 entries, 0 to 4688
Data columns (total 3 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Molecule ChEMBL ID  3274 non-null   object
 1   Smiles              3274 non-null   object
 2   pChEMBL Value       3274 non-null   float64
dtypes: float64(1), object(2)
memory usage: 102.3+ KB

In [10]:
df.describe()

       pChEMBL Value
count    3274.000000
mean        7.167795
std         1.302010
min         4.110000
25%         6.280000
50%         6.960000
75%         8.050000
max        10.980000

In [11]:
df.to_csv('jak3_clean.csv', index=False)